<!DOCTYPE html>
<html>
  <head>
    <title>OurTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "user_name": "<%= current_user.user_name %>",
          "email": "<%= current_user.email %>",
          "first_name": "<%= current_user.first_name %>",
          "last_name": "<%= current_user.last_name %>"
          };
      </script>
    <% end %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
    <meta property="og:title" content="OurTube" />
    <meta name="author" content="Alex Clark" />
    <meta property='og:image' content="<%= image_url('OurTubeLink.png') %>"/>
    <meta property="og:description"
      content="OurTube is a youtube clone that allows you to upload and view videos uploaded by other users. Users can create thier own profiles and view the profiles of other users. While viewing a video users have the ability to comment on, like, or dislike the video. Additionally users can see if other users have liked, disliked, or commented on a video."
    />
    <meta property="og:url"
      content="https://ourtube1.herokuapp.com/#/"
    />

  </head>

  <body>
    <%= yield %>
  </body>


</html>